/*Fonts for my website*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root{
    --main-color: #B78851;
    --background-color: #000000;
}

body{
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}
nav{
    text-align: center;
    padding: 1em;
}
nav img{
    width: 150px;
}
.logo{
    transition: transform 0.3s
}
.logo:hover{
    transform: scale(1.2); 
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:var(--main-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a:hover{
    color: var(--main-color);
}
.nav-links ul .active:hover{
    color: var(--main-color);
}
nav .fa{
    display: none;
}
.nav-bar i{
    display: none;
}

.intro {
    align-items: center;
    margin: 40px;
    text-align: center;
}

.intro img {
    width: 300px;
    border-radius: 50%;
    transition: transform 0.3s
}
.intro img:hover{
    transform: scale(1.2); 
}
.intro p{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 1rem;
    }
    nav img{
        width: 180px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li{       
        display: block;
        margin: 5px;
        transition: transform 0.3s
    }
    nav .nav-links{
        text-align: center;
    }
    nav ul li a{
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
    }
    .nav-links ul li::after{
        content: none;
    }
    .nav-links ul li:hover{
        transform: scale(1.2); 
    }
 
    nav ul li:hover::after{
        width: 100%;
    }
    nav .fa {
        display: block;
        cursor: pointer;
    }
    nav .nav-links.show{
        display: block;
    }
    nav .fa{
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Added transition property */
    }
    nav .fa:hover{
        transform: scale(1.2);
    }
    /* New styles for rotating the icon when the menu is open */
    nav .fa.fa-times{
    transform: rotate(90deg);
    }
    nav .nav-links{
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.10s ease; /* Added transition property */
    }
    nav .nav-links.show{
        max-height: 100vh; /* Adjust the value as needed */
    }
    .intro p{
        margin: 0px;
        margin-top: 50px;
    }
}